.back-ground-image-1 {
    background-image: url("https://img.freepik.com/free-photo/darkroom-concrete-floor-with-foggy-effect-stage-background-product_84443-7819.jpg");
    /* background-image: url("https://image.slidesdocs.com/responsive-images/background/burger-ketchup-fast-food-vegetables-powerpoint-background_355bd876c8__960_540.jpg") ; */
    /* background-image: url("https://static.vecteezy.com/system/resources/previews/023/010/419/non_2x/the-delicious-burger-in-the-black-background-with-ai-generated-free-photo.jpg"); */
    /* background-image: url("https://img.freepik.com/free-photo/delicious-realistic-burger_23-2150902338.jpg?t=st=1735455359~exp=1735458959~hmac=b50ed79c8afd3a514517f11f63dc96e68ee4960dc46302814a3dfada6f090802&w=1380"); */
    /* background-image: url("https://img.freepik.com/free-photo/close-up-delicious-burger-meal_23-2151434076.jpg?t=st=1735455470~exp=1735459070~hmac=1b29fc14dd71a0be0cb1d14930adfb86f1ba346d56f901b4c760ae19d1f23acd&w=996"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 730px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.bi-list,
#checkbox,
.hidden {
    display: none;
    font-size: 2.5rem;
}

.name>a {
    font-size: 35px;
    color: white;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
    color: white;
    padding: 20px;
    background-color: rgba(237, 230, 230, 0.073);
}

.nav1 {
    display: flex;
}

.nav1>a:hover {
    color: #e69c00;
}

.nav1>a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 10px;
}

.nav2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav2>a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
}

#order1 {
    color: white;
    font-size: 1rem;
    background-color: #ffbe33;
    ;
    padding: 10px;
    border-radius: 20px;
    text-align: center;

}

#order1>a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 10px;
    font-family: "Open Sans", sans-serif;

}

#order-online {
    color: white;
    font-size: 1rem;
    background-color: #e69c00;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

#order-online>a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.back-ground-content {
    height: 6 00px;
    padding: 10px;
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3%;
}

.carousel {
    width: 45%;
    height: 100%;
    margin-bottom: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
    z-index: 1000;
}

.transparent {
    position: absolute;
    right: 5%;
    top: 18%;
}

.transparent>img {
    height: 600px;
    display: block;
}

.carousel>h1 {

    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    color: white;
}

.par-1 {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
}

#order2 {
    font-size: 1rem;
    background-color: #ffbe33;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

#order2>a {
    text-decoration: none;
    color: white;
}

.hidden {
    display: none;
    flex-direction: column;
    position: absolute;
    top: -100%;
    left: 21%;
    width: 850px;
    padding: 10px;
    height: 0;
    overflow: hidden;
    transition: 0.4s ease;
    background-color: rgba(255, 255, 255, 0.089);
}

.checkbox-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox-1>a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    font-family: "Open Sans", sans-serif;

}

.checkbox-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.checkbox-2>a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.name {
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
}

#order-online {
    color: white;
    font-size: 1rem;
    background-color: #e69c00;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

#order-online>a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

#checkbox {
    display: none;
}

.carousel {
    animation: moveAcrossScreen 10s linear infinite;
}

.carousel {
    animation-delay: 5s;
}

/* @keyframes moveAcrossScreen {

    0%,
    20% {

        transform: translateX(300%);
    }

    40%,
    60% {
        transform: translateX(0%);
    }

    80%,
    100% {
        transform: translateX(-100%);
        

    }

} */
.logo {
    background-image: url("https://as1.ftcdn.net/v2/jpg/04/86/44/90/1000_F_486449051_8ViosQhQRHWesy56hoCNOpxRDHJErrjW.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav2>a>i:hover {
    color: #ffbe33;
}