.back-ground-image-1 {
    background-image: url("https://t4.ftcdn.net/jpg/01/41/16/55/240_F_141165557_octtJ7jKn0onrIDrXntaweAyCZk6M3z1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 730px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.bi-list {
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: white;
}

#checkbox {
    display: none;
}

.name>a {
    font-size: 35px;
    color: white;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
    color: white;
    padding: 20px;
    background-color: rgba(237, 230, 230, 0.073);
    position: relative;
    z-index: 100;
}

.nav1 {
    display: flex;
    gap: 20px;
}

.nav1>a:hover {
    color: #e69c00;
}

.nav1>a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 10px;
    transition: color 0.3s ease;
}

.nav2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav2>a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
}

#order1 {
    color: white;
    font-size: 1rem;
    background-color: #e69c00;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

#order1>a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
}

#order-online {
    color: white;
    font-size: 1rem;
    background-color: #e69c00;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

#order-online>a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.back-ground-content {
    height: 6 00px;
    padding: 10px;
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3%;
}

.carousel {
    width: 45%;
    height: 100%;
    margin-bottom: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
    z-index: 1000;
}

.transparent {
    display: none;
    position: absolute;
    right: 5%;
    top: 18%;
}

.transparent>img {
    height: 600px;
    display: block;
}

.carousel>h1 {

    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    color: white;
}

.par-1 {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
}

#order2 {
    font-size: 1rem;
    background-color: #ffbe33;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

#order2>a {
    text-decoration: none;
    color: white;
}

.hidden {
    position: absolute;
    top: -100vh;
    left: 0;
    width: 100%;
    background: rgb(25, 35, 39);
    background: linear-gradient(90deg, rgba(25, 35, 39, 0.7092086834733893) 0%, rgba(66, 91, 133, 0.6755952380952381) 50%, rgba(21, 17, 67, 0.7344187675070029) 100%);
    /* background-image: linear-gradient(to bottom right, red, yellow); */
    /* background-color: rgba(77, 104, 239, 0.95); */
    z-index: 99;
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
}

.checkbox-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox-1>a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    font-family: "Open Sans", sans-serif;

}

.checkbox-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.checkbox-2>a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.name {
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
}

#order-online {
    color: white;
    font-size: 1rem;
    background-color: #e69c00;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

#order-online>a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

#checkbox {
    display: none;
}

.carousel {
    animation: moveAcrossScreen 10s linear infinite;
}

.carousel {
    animation-delay: 5s;
}

@keyframes moveAcrossScreen {

    0%,
    20% {
        transform: translateX(0%);
    }

    40%,
    60% {
        transform: translateX(-100%);
    }

    80%,
    100% {
        transform: translateX(100%);


    }

}

.logo {
    background-image: url("https://as1.ftcdn.net/v2/jpg/04/86/44/90/1000_F_486449051_8ViosQhQRHWesy56hoCNOpxRDHJErrjW.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav2>a>i:hover {
    color: #ffbe33;
}