* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
}

.back-ground-image-1 {
    grid-area: 1 / 1 / 2 / 2;
}

.offers-containers {
    grid-area: 2 / 1 / 3 / 2;
}

.food-section{
    grid-area: 3 / 1 / 4 / 2;
}

.back-ground-image-2 {
    grid-area: 4 / 1 / 5 / 2;
}

.book-table {
    grid-area: 5 / 1 / 6 / 2;
}

.feedback-section {
    grid-area: 6 / 1 / 7 / 2;
}

footer {
    grid-area: 7 / 1 / 8 / 2;
}

.form-label{
    display: block !important;
}

.success-animation {
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.checkmarks {
    font-size: 80px;
    color: white;
    animation: scaleUp 0.5s ease-out;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fall {
    0% {
        transform: translateY(100%);
        
    }

    100% {
        transform: translateY(-100%);
        opacity: 1;
    }
}